<h2>Hello, Maureen</h2>

<p>Someone has placed a pre-order at TamtaMureen.</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Menu Item</th>
        <th scope="col">Item Cost</th>
        <th scope="col">Requested Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{mobile}}</td>
        <td>{{menu}}</td>
        <td>{{cost}}</td>
        <td>{{date}}</td>
      </tr>
    </tbody>
</table>
<p>Wanna head over to your profile and check it out? You can use <a href="https://tamtamureen.herokuapp.com/user/1">this link</a>.</p>

<small>Cheers!</small>