{%if user.is_authenticated%}
<ul class="nav justify-content-center sticky-top nav-tabs">
  <a class="navbar-brand" href="/">
    TamtaMureen
  </a>
  <li class="nav-item nav-tit">
    <a class="nav-link nav-home" aria-current="page" href="/">Home</a>
  </li>
  <!-- {%if user.permissions.is_admin%} -->
  <li class="nav-item nav-it">
    <a class="nav-link nav-admin" href="/admin">Admin</a>
  </li>
  <!-- {%endif%} -->
  {%if user.permissions.is_admin%}
  <li class="nav-item nav-it">
    <a class="nav-link nav-admin" href="/admin">B-Admin</a>
  </li>
  {%endif%}
  <li class="nav-item nav-it-prof">
    <a class="nav-link nav-profile" href="{%url 'profile' user.id%}">Profile</a>
  </li>
  <li class="nav-item nav-it-prof">
    <a class="nav-link nav-signout" href="{%url 'signout'%}">Sign Out</a>
  </li>
</ul>

{%else%}
<ul class="nav justify-content-center sticky-top nav-tabs">
  <li class="nav-item nav-it-prof">
    <a class="nav-link active" href="/accounts/signin">Sign in</a>
  </li>
  <li class="nav-item nav-it-prof">
    <a class="nav-link active" href="/accounts/register">Sign up</a>
  </li>
</ul>
{%endif%}