{%extends 'base.html'%}
{%load static%}


{%block content%}
<div class="container">
    <div class>
        <div>
        <br>
        <h6>Your preorder was successful!</h6>
        <p>An order request has been sent to Maureen's kitchen, with the following information</p>
        {%for item in menu%} 
        {{item.name}}
        {{item.cost}}
        {%endfor%} 

        {%if preorder%}
        {{preorder.your_name}}
        {{preorder.order_date}}
        {%endif%} 
        </div>
    </div>
</div>
{%endblock%}