{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}



{%block content%}
    
        <div class="header container-fluid">
            <br>
            <h1 class="text-center">{{message}}</h1>
            <h6 class="text-center">{{date_today}}</h6>
            <br>
            <form class="d-flex" role="search" action="{% url 'search-results' %}">
                <input class="form-control me-2" type="search" placeholder="Search menu by ingredient" name="menu">
                <button class="btn btn-light btn-sm btn-outline-dark" type="submit">
                    <svg aria-label="Search" color="#8e8e8e" fill="#8e8e8e" height="16" role="img" viewBox="0 0 24 24" width="16"><path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line></svg>
                </button>
            </form>
            <br><br>
        </div>
        <br>
        <div class="container-fluid home-card-container">
            {%for item in menus%}
            <div class="card home-card" style="width: 18rem;">
                <img src="{{item.snap.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">$ {{item.cost}}</p>
                  <small class="card-text">status: {{item.status}}</small>
                  <a href="{% url 'menu' item.id %}" class="btn home-card-btn btn-primary">View details</a>
                </div>
              </div>
              {%endfor%}
        </div>  
          <br><br>


    <div class="container-fluid">
        <footer>
          <div class="social">
            <div class="social-set">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg>
                <a href="htpps://twitter.com" class="sociali" target="_blank" aria-label="Twitter"> <i class="fa fa-twitter fa-fw" title="Twitter"></i> </a>
                <a href="htpps://github.com" class="sociali" target="_blank" aria-label="GitHub"> <i class="fa fa-github-square fa-fw" title="GitHub"></i> </a>
                <!-- <a href="htpps://youtube.com" class="sociali" target="_blank" aria-label="YouTube"> <i class="fa fa-youtube fa-fw" title="YouTube"></i> </a> -->
                <!-- <a href="htpps://medium.com" class="sociali" target="_blank" aria-label="Medium"> <i class="fa fa-medium fa-fw" title="Medium"></i> </a> -->
                <a href="htpps://instagram.com" class="sociali" target="_blank" aria-label="Instagram"> <i class="fa fa-instagram fa-fw" title="Instagram"></i> </a>
                <a href="htpps://facebook.com" class="sociali" target="_blank" aria-label="Facebook"> <i class="fa fa-facebook-square fa-fw" title="Facebook"></i> </a>
                <a href="htpps://flickr.com" class="sociali" target="_blank" aria-label="Flickr"> <i class="fa fa-flickr fa-fw" title="Flickr"></i> </a>
                <a href="htpps://linkedin.com" class="sociali" target="_blank" aria-label="LinkedIn"> <i class="fa fa-linkedin fa-fw" title="LinkedIn"></i> </a>
                <a> | &copy;TAMTAMUREEN | 2022</a>
            </div>
        </div>
      </footer>
      </div>

{%endblock%}