{%extends 'base.html'%}
{%load static%}



{%block content%}
<div class="container">
    <div class>
        <div>
            <h6>{{date_today}}</h6>
            <h1 class="text-center">{{message}}</h1>
        <br>
        <form class="d-flex" role="search" action="{% url 'search-results' %}">
            <button class="btn btn-sm btn-outline-info" type="submit">
                <svg aria-label="Search" color="#8e8e8e" fill="#8e8e8e" height="16" role="img" viewBox="0 0 24 24" width="16"><path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line></svg>
            </button>
            <input class="form-control me-2" type="search" placeholder="Search menu by ingredient" name="menu">
        </form>
        {%for item in menus%}
        <h5>{{item.name}}</h5>
        <h5>{{item.description}}</h5>
        <h5>{{item.cost}}</h5>
        <h5>{{item.snap}}</h5>
        {%for spice in item.ingredients.all%}
        <h5>ingredients: {{spice.name}}</h5>
        {%endfor%}
        <h5>{{item.status}}</h5>
        <h5>{{item.cook}}</h5>
        <p><a href="{% url 'menu' item.id %}">View details</a></p>
        {%endfor%}
        </div>
    </div>
</div>
{%endblock%}