{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%} 
<body class="landing-body">
  <div class="container-fluid landing-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/benie/image/upload/v1658379897/dough-943245_1920_vf0glg.jpg" class="rounded" alt="Carousel image">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/benie/image/upload/v1658379904/chapati-489254_1920_qkyxrm.jpg" class="rounded" alt="Carousel image">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/benie/image/upload/v1658380042/swahili-5992165_1920_i4nzqj.jpg" class="rounded" alt="Carousel image">
          </div>
        </div>
      </div>
    </div>
    
    <div class="container landing-container2">
      <form class="d-flex" role="search" action="{% url 'search-results' %}">
        <input class="form-control me-2" type="search" placeholder="Search menu by ingredient" name="menu">
        <button class="btn btn-light btn-sm btn-outline-dark" type="submit">
          <svg aria-label="Search" color="#8e8e8e" fill="#8e8e8e" height="16" role="img" viewBox="0 0 24 24" width="16"><path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line></svg>
      </button>
      </form>
      <div class="landing-ingredients">
        <h6>Top ingredients</h6>
      {%for item in ingredients%}
      {%for spice in item.ingredients.all%}
        <img class="rounded" src="https://res.cloudinary.com/benie/image/upload/v1658467066/casserole-dish-2776735_640_dikolx.jpg" width="20" height="20"> {{spice.name}}
            {%endfor%}
      {%endfor%}
      </div>
    </div>
    
    <div class="container-fluid landing-container3">
      {%if super%}
      <div class="card landing-card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{super.profile_photo.url}}" class="img-fluid" alt="..." width="200" height="200">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Meet Maureen</h5>
              <p class="card-text">{{super.about_me}}</p>
              <p class="card-text"><small class="text-muted">Status: {{super.status}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {%else%} 
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://res.cloudinary.com/benie/image/upload/v1658180611/wikrlzpmakvtwcjssxlm.jpg" class="img-fluid rounded-start" alt="..." width="200" height="200">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">About me</h5>
              <p class="card-text">I am a teacher and mother of four, who loves and enjoys cooking. Welcome to my kitchen!</p>
              <p class="card-text"><small class="text-muted">Status: <span class="super-status">away</span></small></p>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      
    </div>
    
    <div class="footer">
      {%if super%}
      <div class="container-fluid container-contact" id="contact">
        <div class="contact-title">
          <h2 class="contact-title">CONTACT</h2>
        </div>
        <div class="row contact-row">
          <div class="col col-contact-form" id="mc_embed_signup">
            <h4 class="body-font">Write to me</h4>
            <form action="{%url 'landing' %}" method="post">
              {%csrf_token%} {%bootstrap_form contactform layout='inline'%}
              <button type="submit" class="btn btn-sm btn-light btn-outline-dark">Send</button>
          </form>
          </div>
         
          <div class="col col-address">
            <h4 class="body-font">Find me</h4>
            <p>{{super.address}},</p>
            <p>USA</p>
            <br>
            <h4 class="body-font">Add me to your list</h4>
          <p>{{super.name}}</p>
          <p>{{super.email}}</p>
          <p>{{super.mobile_no}}</p>
          </div>
          
          <div class="col col-map" id="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7776084621364!2d36.80240001464705!3d-1.3086869360198807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1059d73023bb%3A0x7f1c4372c902ce24!2sMbagathi%20Way%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1647876624342!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          
    
        </div>
        <!-- end of row -->
      </div>
      <div class="container-fluid">
        <footer>
          <div class="social">
            <div class="social-set">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg>
                <a href="htpps://twitter.com" class="sociali" target="_blank" aria-label="Twitter"> <i class="fa fa-twitter fa-fw" title="Twitter"></i> </a>
                <a href="htpps://github.com" class="sociali" target="_blank" aria-label="GitHub"> <i class="fa fa-github-square fa-fw" title="GitHub"></i> </a>
                <!-- <a href="htpps://youtube.com" class="sociali" target="_blank" aria-label="YouTube"> <i class="fa fa-youtube fa-fw" title="YouTube"></i> </a> -->
                <!-- <a href="htpps://medium.com" class="sociali" target="_blank" aria-label="Medium"> <i class="fa fa-medium fa-fw" title="Medium"></i> </a> -->
                <a href="htpps://instagram.com" class="sociali" target="_blank" aria-label="Instagram"> <i class="fa fa-instagram fa-fw" title="Instagram"></i> </a>
                <a href="htpps://facebook.com" class="sociali" target="_blank" aria-label="Facebook"> <i class="fa fa-facebook-square fa-fw" title="Facebook"></i> </a>
                <a href="htpps://flickr.com" class="sociali" target="_blank" aria-label="Flickr"> <i class="fa fa-flickr fa-fw" title="Flickr"></i> </a>
                <a href="htpps://linkedin.com" class="sociali" target="_blank" aria-label="LinkedIn"> <i class="fa fa-linkedin fa-fw" title="LinkedIn"></i> </a>
                <a> | &copy;TAMTAMUREEN | 2022</a>
            </div>
        </div>
      </footer>
      </div>
      {%else%}
      <div class="container-fluid container-contact" id="contact">
        <div class="contact-title">
          <h2 class="contact-title">CONTACT</h2>
        </div>
        <div class="row contact-row">
          <div class="col col-contact-form" id="mc_embed_signup">
            <h4 class="body-font">Write to me</h4>
            <form action="{%url 'landing' %}" method="post">
              {%csrf_token%} {%bootstrap_form contactform layout='inline'%}
              <button type="submit" class="btn btn-sm btn-light btn-outline-dark">Send</button>
          </form>
          </div>
         
          <div class="col col-address">
            <h4 class="body-font">Find me</h4>
            <p>Ohio,</p>
            <p>USA</p>
            <br>
            <h4 class="body-font">Add me to your list</h4>
          <p>Maureen Bogonko</p>
          <p>morinchep@yahoo.com</p>
          <p>+2547 08 64 66 67</p>
          </div>
          
          <div class="col col-map" id="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7776084621364!2d36.80240001464705!3d-1.3086869360198807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1059d73023bb%3A0x7f1c4372c902ce24!2sMbagathi%20Way%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1647876624342!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          
    
        </div>
        <!-- end of row -->
      </div>
      <div class="container-fluid">
        <footer>
          <div class="social">
            <div class="social-set">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg>
                <a href="htpps://twitter.com" class="sociali" target="_blank" aria-label="Twitter"> <i class="fa fa-twitter fa-fw" title="Twitter"></i> </a>
                <a href="htpps://github.com" class="sociali" target="_blank" aria-label="GitHub"> <i class="fa fa-github-square fa-fw" title="GitHub"></i> </a>
                <!-- <a href="htpps://youtube.com" class="sociali" target="_blank" aria-label="YouTube"> <i class="fa fa-youtube fa-fw" title="YouTube"></i> </a> -->
                <!-- <a href="htpps://medium.com" class="sociali" target="_blank" aria-label="Medium"> <i class="fa fa-medium fa-fw" title="Medium"></i> </a> -->
                <a href="htpps://instagram.com" class="sociali" target="_blank" aria-label="Instagram"> <i class="fa fa-instagram fa-fw" title="Instagram"></i> </a>
                <a href="htpps://facebook.com" class="sociali" target="_blank" aria-label="Facebook"> <i class="fa fa-facebook-square fa-fw" title="Facebook"></i> </a>
                <a href="htpps://flickr.com" class="sociali" target="_blank" aria-label="Flickr"> <i class="fa fa-flickr fa-fw" title="Flickr"></i> </a>
                <a href="htpps://linkedin.com" class="sociali" target="_blank" aria-label="LinkedIn"> <i class="fa fa-linkedin fa-fw" title="LinkedIn"></i> </a>
                <a> | &copy;TAMTAMUREEN | 2022</a>
            </div>
        </div>
      </footer>
      </div>
      {%endif%}
      <!-- end of Contact division -->
    
      <!-- Footer division starts below -->
      
      <!-- end of Footer division -->
    </div>
</body>

{%endblock%}