{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%} 
<div class="container-fluid">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500" style="margin-left:35%;margin-top:1%;margin-bottom:1%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/benie/image/upload/v1658379897/dough-943245_1920_vf0glg.jpg" height="200" width="300" alt="...">
      </div>
      <div class="carousel-item" style="height:200;">
        <img src="https://res.cloudinary.com/benie/image/upload/v1658379904/chapati-489254_1920_qkyxrm.jpg" height="200" width="300" alt="...">
      </div>
      <div class="carousel-item" style="height:200;">
        <img src="https://res.cloudinary.com/benie/image/upload/v1658380042/swahili-5992165_1920_i4nzqj.jpg" height="200" width="300" alt="...">
      </div>
    </div>
  </div>
  <hr>

</div>
{%endblock%}