{%extends 'base.html'%}
{%load static%}


{%block content%}
<div class="container">
    <div class>
        <div>
        <br>
        {%for item in menu%}
        <h5>{{item.name}}</h5>
        <h5>{{item.description}}</h5>
        <h5>{{item.cost}}</h5>
        <h5>{{item.snap}}</h5>
        {%for spice in item.ingredients.all%}
        <h5>ingredients: {{spice.name}}</h5>
        {%endfor%}
        <h5>{{item.status}}</h5>
        <h5>{{item.cook}}</h5>
        {%endfor%}
        </div>
    </div>
</div>
{%endblock%}