{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%}
<div class="container">
    <div class>
        <div>
        <br>
        {%for item in menu%}
        <h5>{{item.name}}</h5>
        <h5>{{item.description}}</h5>
        <h5>{{item.cost}}</h5>
        <h5>{{item.snap}}</h5>
        {%for spice in item.ingredients.all%}
        <h5>ingredients: {{spice.name}}</h5>
        {%endfor%}
        <h5>{{item.status}}</h5>
        <h5>{{item.cook}}</h5>
        <p>Pre-order?</p>
        <form action="{%url 'menu' item.id%}" method="post">
            {%csrf_token%} {%bootstrap_form preform layout='inline'%}
            <input type="submit" value="Preorder">
        </form>
        {%endfor%}
        </div>
    </div>
</div>
{%endblock%}