.landing-container{
    background-color:#10002b;
    padding:6.5%;
}
.carousel-inner{
    display:inline-block;
    text-align:center;
}
.landing-container img{
    height:200px;
    width:300px;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.landing-container2{
    padding:2.5%;
    text-align:center;
}
.landing-container2 form{
    margin-top:1.5%;
}
.landing-container2 h6{
    margin-top:1.5%;
}
.landing-container3{
    text-align:center;
    margin-top:1.5%;
    background-color:#10002b;
}
.landing-container3 .card{
    display:inline-block;
    text-align:center;
    margin-top:1.5%;
}