@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@600&display=swap');

small,button,input,textarea,a,.btn{
    font-family: 'Merienda', cursive;
}
p{
    font-family: 'Mingzat', sans-serif;
}
h1{
    font-family: 'Marcellus SC', serif; 
}
h2{
    font-family: 'Rozha One', serif;
}
h3{
    font-family: 'Markazi Text', serif;
}
h4,h5{
    font-family: 'Telex', sans-serif;
    font-weight:bold;
}
.navbar-brand,.nav-home{
    font-family: 'Bowlby One', cursive;
    color:black;
}
h6{
    font-family: 'Tillan', cursive;
}

.nav{
    opacity:0.9;
}
.nav-home{
    border-style:ridge;
}
.nav-home:hover{
    color:#472d30;
}
.nav-admin,.nav-profile,.nav-signout{
    border-style:groove;
    color:black;
    font-family: 'Rampart One', cursive;
}
.nav-admin:hover,.nav-profile:hover,.nav-signout:hover{
    color:#472d30;
}


.landing-container,.landing-container3,.container-contact,#menu-body,#home-body,#checkout-body{
    background-color:#E9F7CA;
}
.carousel-inner{
    display:inline-block;
    text-align:center;
}
.landing-container img{
    height:200px;
    width:300px;
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.landing-container2{
    padding:2.5%;
    text-align:center;
}
.landing-container2 form{
    margin:1%; 
}
.landing-container2 h6{
    margin-top:1.5%;
}
.landing-container3{
    text-align:center;
    margin-top:1.5%;
}
.landing-container3 .card{
    display:inline-block;
    text-align:center;
    margin-top:1.5%;
}
.container-contact{
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    position: relative;
}
.container-contact input,#preorder .btn{
    margin:1%;
}
.container-contact button{
    margin:1%;
}
.contact-title{
    text-align: center;
    margin-bottom:2.5%;
}
footer{
    text-align: center;
}
.contact-success-container{
    text-align:center;
}
.contact-success-container img{
    border-radius: 50%;
}
.landing-card img{
    border-radius: 50%;
    transition: transform .4s;
}
.landing-card img:hover{
    transform: scale(0.8);
}

.header,#preorder,.nav,footer,.landing-body,.home-card,#checkout-table{
    background-color: #F7D488;
}
.home-card-btn{
    float:right;
}
.menu-card{
    width:100%;
    max-width:400px;
    column-count: 2;
    column-gap: 2px;
}
#menu-card-img{
    height:auto;
    max-height:400px;
    width:100%;
    max-width:400px;
    /* max-width:auto; */
}
.menu-status{
    font-size:x-small;
}
#preorder{
    display:none;
}