{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 rounded">
            {%if form.errors%}
            <p>
                Please confirm that your password and username are correct.
            </p>
            {%endif%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Sign In
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="/accounts/profile" method="post">
                        {%csrf_token%}
                        {%bootstrap_form form%}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Login">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <p>Don't have an account? <a href="/accounts/register">Sign up here</a></p>
        </div>

        <div class="col-md-4"></div>

    </div>

</div>
{%endblock%}