{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%}
<body id="signout-body">
    

</body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 rounded">
            <div class="panel panel-default rounded">
                <div class="panel-heading">
                    <br>
                    <h2 class="text-center">
                        Signed Out
                    </h2>
                </div>
                <br> <br>
                <div class="panel-body rounded" id="signout-panel">
                    
                    <h5 class="text-center">Sad to see you leave...</h5>
                    <p class="text-center">Log back in? <a href="/accounts/signin" id="signout-link">Click here</a></p>
                </div>
            </div>
            
        </div>

        <div class="col-md-4"></div>

    </div>

</div>
{%endblock%}