{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%}
<body class="primary-color">
    
</body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 rounded supporting-color">
            {%if form.errors%}
            <br>
            <p>
                Some information may be incorrect.
            </p>
            {%endif%}
            <br><br>
            <div class="panel panel-default secondary-color padding">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Sign Up
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="/accounts/register/" method="post">
                        {%csrf_token%}
                        {%bootstrap_form form%}
                        <div class="form-group">
                            <input type="submit" class="btn btn-light btn-outline-dark btn-sm" value="Sign Up">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <p>Already a member? <a href="/accounts/signin" class="links">Sign in here</a></p>
                </div>
            </div>
            <br>
        </div>
        

        <div class="col-md-4"></div>
    </div>
</div>
{%endblock%}